einops
ftfy

# Hydra Dependencies
hydra_colorlog
hydra-core>=1.1
hydra-joblib-launcher
hydra-optuna-sweeper

ipython
kornia>=0.6
line_profiler
loguru
lpips
numba
numpy
matplotlib
opencv-python
regex
roipoly
shapely
tqdm
wandb

# CLIP
git+https://github.com/openai/CLIP.git

# MS-SSIM
git+https://github.com/jorge-pessoa/pytorch-msssim.git